body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 5% 2%;
    background-image: url('img/Banner(2).png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

header img {
    width: 20%; /* Adjust the width as needed */
}

h1, .lead {
    color: #black;
    margin: 0;
}

.container {
    margin-top: 5%;
    padding: 0 2%;
    box-sizing: border-box;
    
    
}

h2 {
    color: #343a40;
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
}

.list-group-item {
    background-color: #007bff;
    color: #ffffff;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.card-title {
    color: #007bff;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line on smaller screens */
}

.header-contact {
    display: flex;
    align-items: center;
}

.header-contact img {
    width: 20px;
    margin-right: 5px;
}

.header-contact a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.header-info {
    text-align: left;
}

.header-info h1, .header-info p {
    margin: 0;
}

.header-info p.lead {
    margin-bottom: 10px;
}

.logo {
    width: 20px;
    margin-right: 5px;
}

/* Media Query for screens smaller than 768px (typical smartphones) */
@media (max-width: 767px) {
    header {
        background-image: url('img/mobile-bg.jpg');
    }
}

    .container {
        margin-top: 10%;
    }
}

/* Media Query for screens smaller than 480px (smaller smartphones) */
@media screen and (max-width: 480px) {
    header img {
        width: 70%; /* Further adjust the width for even smaller screens */
    }

    header {
        padding: 10% 2%; /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .container {
        margin-top: 15%; /* Further adjust margin for smaller screens */
    }
}
